streamlit>=1.32.0
sentence-transformers
transformers
torch
google-generativeai
chromadb
spacy
scispacy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_bc5cdr_md-0.5.4.tar.gz
pypdf
python-dotenv
