streamlit>=1.32.0
sentence-transformers
transformers
torch
torchvision
google-generativeai
chromadb
spacy==3.7.4
scispacy==0.5.4
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_bc5cdr_md-0.5.4.tar.gz
pypdf
python-dotenv
numpy<2.0.0
protobuf
